<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/home.css">
</head>

<body>
    <!-- Header to display all the pages we have on the website -->
    <header>
        <nav>
            <div class="Heading">
                <h1>Groupie Tracker</h1>
            </div>
            <ul class="nav-links">
                <li>
                    <a href="/">Home</a>
                    <a href="/artist">Artists</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Hero section with a brief introduction -->
    <section class="hero">
        <div class="hero-content">
            <h2>Welcome to Groupie Tracker</h2>
            <p>Your ultimate source for tracking your favorite artists and bands. Stay updated with their latest tours, albums, and more!</p>
            <a href="/artist" class="hero-btn">View More</a>
        </div>
    </section>

    <!-- Main section with additional information -->
    <section class="info">
        <div class="info-content">
            <h3>Done By</h3>
            <p>Yousif</p>
            <p>Isa</p>
            <p>S.Hasan</p>
        </div>
    </section>

</body>

</html>

